---
http_interactions:
- request:
    method: get
    uri: https://horizon-testnet.stellar.org/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hal+json; charset=utf-8
      Content-Disposition:
      - inline
      X-Ratelimit-Limit:
      - '17200'
      X-Ratelimit-Remaining:
      - '17177'
      X-Ratelimit-Reset:
      - '1515'
    body:
      encoding: UTF-8
      string: |-
        {
          "_links": {
            "account": {
              "href": "https://horizon-testnet.stellar.org/accounts/{account_id}",
              "templated": true
            },
            "account_transactions": {
              "href": "https://horizon-testnet.stellar.org/accounts/{account_id}/transactions{?cursor,limit,order}",
              "templated": true
            },
            "assets": {
              "href": "https://horizon-testnet.stellar.org/assets{?asset_code,asset_issuer,cursor,limit,order}",
              "templated": true
            },
            "friendbot": {
              "href": "https://horizon-testnet.stellar.org/friendbot{?addr}",
              "templated": true
            },
            "metrics": {
              "href": "https://horizon-testnet.stellar.org/metrics"
            },
            "order_book": {
              "href": "https://horizon-testnet.stellar.org/order_book{?selling_asset_type,selling_asset_code,selling_issuer,buying_asset_type,buying_asset_code,buying_issuer,limit}",
              "templated": true
            },
            "self": {
              "href": "https://horizon-testnet.stellar.org/"
            },
            "transaction": {
              "href": "https://horizon-testnet.stellar.org/transactions/{hash}",
              "templated": true
            },
            "transactions": {
              "href": "https://horizon-testnet.stellar.org/transactions{?cursor,limit,order}",
              "templated": true
            }
          },
          "horizon_version": "snapshot-1bf713b",
          "core_version": "stellar-core 9.2.0rc6 (b0923f153b86d394a83b2a619db6b23f07ed0700)",
          "history_latest_ledger": 9492013,
          "history_elder_ledger": 1,
          "core_latest_ledger": 9492013,
          "network_passphrase": "Test SDF Network ; September 2015",
          "protocol_version": 9
        }
  recorded_at: Thu, 14 Jun 2018 09:24:37 GMT
- request:
    method: get
    uri: https://horizon-testnet.stellar.org/accounts/GBG4NNZZNVSCQ4SZETMHY6NJUZRMZJ27IPC4UX53LEUVKVRARFETTR4H
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hal+json; charset=utf-8
      Content-Disposition:
      - inline
      X-Ratelimit-Limit:
      - '17200'
      X-Ratelimit-Remaining:
      - '17176'
      X-Ratelimit-Reset:
      - '1516'
    body:
      encoding: UTF-8
      string: |-
        {
          "_links": {
            "self": {
              "href": "https://horizon-testnet.stellar.org/accounts/GBG4NNZZNVSCQ4SZETMHY6NJUZRMZJ27IPC4UX53LEUVKVRARFETTR4H"
            },
            "transactions": {
              "href": "https://horizon-testnet.stellar.org/accounts/GBG4NNZZNVSCQ4SZETMHY6NJUZRMZJ27IPC4UX53LEUVKVRARFETTR4H/transactions{?cursor,limit,order}",
              "templated": true
            },
            "operations": {
              "href": "https://horizon-testnet.stellar.org/accounts/GBG4NNZZNVSCQ4SZETMHY6NJUZRMZJ27IPC4UX53LEUVKVRARFETTR4H/operations{?cursor,limit,order}",
              "templated": true
            },
            "payments": {
              "href": "https://horizon-testnet.stellar.org/accounts/GBG4NNZZNVSCQ4SZETMHY6NJUZRMZJ27IPC4UX53LEUVKVRARFETTR4H/payments{?cursor,limit,order}",
              "templated": true
            },
            "effects": {
              "href": "https://horizon-testnet.stellar.org/accounts/GBG4NNZZNVSCQ4SZETMHY6NJUZRMZJ27IPC4UX53LEUVKVRARFETTR4H/effects{?cursor,limit,order}",
              "templated": true
            },
            "offers": {
              "href": "https://horizon-testnet.stellar.org/accounts/GBG4NNZZNVSCQ4SZETMHY6NJUZRMZJ27IPC4UX53LEUVKVRARFETTR4H/offers{?cursor,limit,order}",
              "templated": true
            },
            "trades": {
              "href": "https://horizon-testnet.stellar.org/accounts/GBG4NNZZNVSCQ4SZETMHY6NJUZRMZJ27IPC4UX53LEUVKVRARFETTR4H/trades{?cursor,limit,order}",
              "templated": true
            },
            "data": {
              "href": "https://horizon-testnet.stellar.org/accounts/GBG4NNZZNVSCQ4SZETMHY6NJUZRMZJ27IPC4UX53LEUVKVRARFETTR4H/data/{key}",
              "templated": true
            }
          },
          "id": "GBG4NNZZNVSCQ4SZETMHY6NJUZRMZJ27IPC4UX53LEUVKVRARFETTR4H",
          "paging_token": "",
          "account_id": "GBG4NNZZNVSCQ4SZETMHY6NJUZRMZJ27IPC4UX53LEUVKVRARFETTR4H",
          "sequence": "36410250244390918",
          "subentry_count": 1,
          "thresholds": {
            "low_threshold": 0,
            "med_threshold": 0,
            "high_threshold": 0
          },
          "flags": {
            "auth_required": false,
            "auth_revocable": false
          },
          "balances": [
            {
              "balance": "990.0000000",
              "limit": "922337203685.0000000",
              "asset_type": "credit_alphanum4",
              "asset_code": "MOBI",
              "asset_issuer": "GDRWBLJURXUKM4RWDZDTPJNX6XBYFO3PSE4H4GPUL6H6RCUQVKTSD4AT"
            },
            {
              "balance": "9999.9999400",
              "asset_type": "native"
            }
          ],
          "signers": [
            {
              "public_key": "GBG4NNZZNVSCQ4SZETMHY6NJUZRMZJ27IPC4UX53LEUVKVRARFETTR4H",
              "weight": 1,
              "key": "GBG4NNZZNVSCQ4SZETMHY6NJUZRMZJ27IPC4UX53LEUVKVRARFETTR4H",
              "type": "ed25519_public_key"
            }
          ],
          "data": {}
        }
  recorded_at: Thu, 14 Jun 2018 09:24:38 GMT
- request:
    method: get
    uri: https://horizon-testnet.stellar.org/accounts/GBTYV66THKPJR4UU5ZHONLRZJKWGGVOCYWVYOTWKJU75VN54K26C5VYG
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hal+json; charset=utf-8
      Content-Disposition:
      - inline
      X-Ratelimit-Limit:
      - '17200'
      X-Ratelimit-Remaining:
      - '17175'
      X-Ratelimit-Reset:
      - '[...]
- request:
    method: post
    uri: https://horizon-testnet.stellar.org/transactions
    body:
      encoding: UTF-8
      string: tx=AAAAAGeK%2B9M6npjylO5O5q45SqxjVcLFq4dOyk0%2F2re8VrwuAAAAZACBWvAAAAAQAAAAAAAAAAAAAAABAAAAAQAAAABNxrc5bWQoclkk2Hx5qaZizKdfQ8XKX7tZKVVWIIlJOQAAAAEAAAAA0%2Bkn3d%2FWh9Ck8KeD1Ei2zUpG829wvEe21AZ4M4dA4ZQAAAABTU9CSQAAAADjYK00jeimcjYeRzelt%2FXDgrtvkTh%2BGfRfj%2BiKkKqnIQAAAAAC%2BvCAAAAAAAAAAAEgiUk5AAAAQHt2V72G0jtiDnEOqczRz1Cqvk9GuReMhM%2BxLZ%2BaHfrIeI5fltiTPwLdO%2B3OVw5AAO7Y%2BbTI9xPetd0mG3vZ5Ac%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/problem+json; charset=utf-8
      X-Ratelimit-Limit:
      - '17200'
      X-Ratelimit-Remaining:
      - '17176'
      X-Ratelimit-Reset:
      - '1512'
    body:
      encoding: UTF-8
      string: |-
        {
          "type": "https://stellar.org/horizon-errors/transaction_failed",
          "title": "Transaction Failed",
          "status": 400,
          "detail": "The transaction failed when submitted to the stellar network. The `extras.result_codes` field on this response contains further details.  Descriptions of each code can be found at: https://www.stellar.org/developers/learn/concepts/list-of-operations.html",
          "extras": {
            "envelope_xdr": "AAAAAGeK+9M6npjylO5O5q45SqxjVcLFq4dOyk0/2re8VrwuAAAAZACBWvAAAAAQAAAAAAAAAAAAAAABAAAAAQAAAABNxrc5bWQoclkk2Hx5qaZizKdfQ8XKX7tZKVVWIIlJOQAAAAEAAAAA0+kn3d/Wh9Ck8KeD1Ei2zUpG829wvEe21AZ4M4dA4ZQAAAABTU9CSQAAAADjYK00jeimcjYeRzelt/XDgrtvkTh+GfRfj+iKkKqnIQAAAAAC+vCAAAAAAAAAAAEgiUk5AAAAQHt2V72G0jtiDnEOqczRz1Cqvk9GuReMhM+xLZ+aHfrIeI5fltiTPwLdO+3OVw5AAO7Y+bTI9xPetd0mG3vZ5Ac=",
            "result_codes": {
              "transaction": "tx_failed",
              "operations": [
                "op_no_destination"
              ]
            },
            "result_xdr": "AAAAAAAAAGT/////AAAAAQAAAAAAAAAB////+wAAAAA="
          }
        }
  recorded_at: Thu, 14 Jun 2018 09:24:44 GMT
recorded_with: VCR 3.0.3
