/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/Gemfile.lock

# rspec failure tracking
.rspec_status

# Ignore other unneeded files.
*.swp
*~
.project
.DS_Store
/.idea
.env
.env.*
/spec/examples.txt
dev-wallet.html
