env:
  global:
    - CC_TEST_REPORTER_ID=b73e557e34c0841f1f534b98bb01a3346cdad5eb9913416dca9ec1350af6ac09

language: ruby
rvm:
  - 2.3
  - 2.4
  - 2.5
cache: bundler
before_install:
  - gem update --system && gem install bundler
before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
after_script:
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT
script:
  - bundle exec rake
  - bundle exec bundle-audit update && bundle exec bundle-audit check  
  - bundle exec rubocop
